{% extends 'base.html' %}

{%block body%}

<div class="col-md-6 offset-md-3">

{%if user.is_authenticated%}
<h1>Okay!</h1>

{%else%}

<h1><strong>Login</strong></h1>
<br/>
<form method='POST' action='{% url 'home' %}'>
    {% csrf_token %}
    <form>
        <div class="mb-4">
            <input type="text" class="form-control" name="username" placeholder="Username" required >
        </div>
        <div class="mb-4">
          <input type="password" class="form-control" name="password" placeholder="Password" required>
        </div>
        <button type="submit" class="btn btn-primary">Log In</button>
      </form>
</div>
{%endif%}


{%endblock%}